
/* --- MAIN STYLES -----------------------------------*/

.pane_content ul{
	width: 300px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 10% !important;
	box-shadow: none !important;
}

.pane_content ul li{
	text-align: center;
	background: none !important;
	border: none !important;
}

/*HEADER -------------------------------------------*/
.fa-arrow-left{
	float: right ;
	margin: 15px;
	margin-right: 65px;
	margin-top: -38px;
	height: 0px;
}

.fa-arrow-right{
	float: right ;
	margin: 25px;
	margin-top: -38px;
	height: 0px;
}

/* SIDEPANES ----------------------------*/
#menu-panel{
	margin-top: 45px;
}

#menu-panel ul{
	width: 265px;
}

#text-basic{
	width: 250px !important;
}

/* BUDGET ------------------------------------*/

#bedragPersoonView{
	display: none;
}

#bedragAncieniteitView{
	display: none;
}


/* FOOTER ------------------------------------*/
#footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
